<header class="header">
	<div class="layout">
		<a href="page-list.html" class="logo">Discount cigarettes</a>
		<a href="#" class="trigger">
			<span></span>
		</a>

		<div class="header__wrap">
			<ul class="header__menu">
				<li><a href="#">Faq</a></li>
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Register</a></li>
				<li><a href="#">Sing In</a></li>
			</ul>
			<div class="basket">
				<div class="basket-icon">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
						<path  d="M7,18a2,2,0,1,0,2,2A2,2,0,0,0,7,18ZM1,2V4H3l3.6,7.59L5.25,14.04A1.933,1.933,0,0,0,5,15a2.006,2.006,0,0,0,2,2H19V15H7.42a.248.248,0,0,1-.25-.25l.03-.12L8.1,13h7.45a1.991,1.991,0,0,0,1.75-1.03l3.58-6.49A.977.977,0,0,0,21,5a1,1,0,0,0-1-1H5.21L4.27,2H1ZM17,18a2,2,0,1,0,2,2A2,2,0,0,0,17,18Z" transform="translate(-1 -2)" fill="#fff"/>
					</svg>
				</div>
				<div class="basket__text">
					<span>Empty</span>
					<i class="basket-bird">
						<svg xmlns="http://www.w3.org/2000/svg" width="12" height="7.41" viewBox="0 0 12 7.41">
						  <path d="M8.59,16.59,13.17,12,8.59,7.41,10,6l6,6-6,6Z" transform="translate(18 -8.59) rotate(90)" fill="#fff"/>
						</svg>

					</i>
				</div>
			</div>
			<form action="/" method="post" class="search">
				<input type="text" class="search__input" id="search__input" placeholder="Search" >
				<button  class="search__btn">
					<svg id="lupa" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24">
						<path id="Path_3" data-name="Path 3" d="M15.5,14h-.79l-.28-.27a6.51,6.51,0,1,0-.7.7l.27.28v.79l5,4.99L20.49,19Zm-6,0A4.5,4.5,0,1,1,14,9.5,4.494,4.494,0,0,1,9.5,14Z"/>
						<path id="Path_4" data-name="Path 4" d="M0,0H24V24H0Z" fill="none"/>
					</svg>
				</button>
			</form>
		</div>
	</div>

</header>
